<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">

            <div class="authincation h-100">
                <div class="container h-110">
                    <div class="row justify-content-center h-100 align-items-center">
                        <div class="col-md-12">
                            <div class="authincation-content">
                                <div class="row no-gutters">
                                    <div class="col-xl-12">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="row">
                                                    <div class="col-xl-12"></div>
                                                    <div class="col-md-12">
                                                        <div class="authincation-content">
                                                            <div class="row no-gutters">


                                                                <div class="auth-form">
                                                                    <h4 class="text-center mb-4">Add Product</h4>
                                                                    <form (ngSubmit)="addAddress()" [formGroup]="address">
                                                                        <div class="row">
                                                                            <div class="col-xl-6">
                                                                                <div class="mb-3" >
                                                                                    <div class="mb-3">
                                                                                        <label class="mb-1"><strong>
                                                                                                House Detail</strong></label>
                                                                                        <input type="text"
                                                                                            class="form-control"
                                                                                            formControlName="houseDetail">
                                                                                    </div>

                                                                                    <div class="mb-3">
                                                                                        <label class="mb-1"><strong>
                                                                                                City</strong></label>
                                                                                        <input type="text"
                                                                                            class="form-control"
                                                                                            formControlName="city">
                                                                                    </div>

                                                                                    </div>
                                                                            </div>
                                                                            <div class="col-xl-6">
                                                                                <div class="mb-3">
                                                                                    <label class="mb-1"><strong>
                                                                                            State</strong></label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        formControlName="state">
                                                                                </div>

                                                                                <div class="mb-3">
                                                                                    <label class="mb-1"><strong>
                                                                                            Address Code</strong></label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        formControlName="addressCode">
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="text-center">
                                                                            <button type="submit"
                                                                                class="btn btn-primary btn-block">Submit</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>